<%= form_for(@contatto, html: { multipart: true}) do |f| %>
  <% if @contatto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contatto.errors.count, "error") %> prohibited this contatto from being saved:</h2>

      <ul>
      <% @contatto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <fieldset>
      <%= f.label :nome %>
      <%= f.text_field :nome %> 
    </fieldset>

    <fieldset>
      <%= f.file_field :foto, accept: 'image/jpeg,image/gif,image/png' %>
    </fieldset>
    
    <fieldset>
      <%= f.fields_for :telefoni do |numero_di_telefono| %>
        <%= render 'telefono_campi', f: numero_di_telefono %>
        <%= link_to_add_fields "aggiungi numero", f, :telefoni %>
      <% end %>
    </fieldset>

    <fieldset>
      <%= f.fields_for :indirizzi do |indirizzo| %>
        <%= render 'indirizzo_campi', f: indirizzo %>
        <%= link_to_add_fields "aggiungi indirizzo", f, :indirizzi %>
      <% end %>
    </fieldset>


    <fieldset>
      <%= f.label :nota %>
      <%= f.text_field :nota %>
    </fieldset>

      <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('#contatto_foto').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3) {
      alert('Dimensione massima consentita per le immagini: 3 megabytes.');
    }
  });
</script>
