<p id="notice"><%= notice %></p>

<h1>Listing Contatti</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contatti.each do |contatto| %>
      <tr>
        <td><%= link_to 'Show', contatto %></td>
        <td><%= link_to 'Edit', edit_contatto_path(contatto) %></td>
        <td><%= link_to 'Destroy', contatto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contatto', new_contatto_path %>
