<h1><%= @contatto.nome %></h1>
<hr>

<h5><%= pluralize(@contatto.telefoni.count, "telefono") %>:</h5>
<ul>
	<% @contatto.telefoni.each_with_index do |telefono, i| %>
		<li>
			Tel. <%= i+1 %>: <%= telefono.numero_di_telefono %> - <%= tipo_telefono telefono.tipo %>
		</li>
	<% end %>
</ul>

<% if @contatto.indirizzi.any? %>
  <h5><%= pluralize(@contatto.indirizzi.count, "indirizzo") %>:</h5>
  <ul>
	<% @contatto.indirizzi.each do |indirizzo| %>
		<li>
			<%= tipo_indirizzo indirizzo.tipo %>
		</li>
		<li>
			<%= indirizzo.indirizzo %>
		</li>
		<li>
			Cap: <%= indirizzo.cap %>
		</li>
		<li>
			Città: <%= indirizzo.citta %>
		</li>
		<br />
	<% end %>
  </ul>
 <% end %>

<% if @contatto.nota? %>
	<%= content_tag :h5, 'Nota:', class: 'nota-header' %>
	<%= content_tag :div, @contatto.nota, class: 'nota-contatto' %>
<% end %>

<%= link_to 'Modifica', edit_contatto_path(@contatto) %> |
<%= link_to 'Cancella', contatto_path(@contatto), method: :delete, data: { confirm: "Sicuro?" } %> |
<%= link_to 'Back', root_path %>
