	<h1>Ciao <%= @user.username %></h1> ----- <%= link_to "Profilo", edit_user_registration_path %> | 
											 <%= link_to "Logout", destroy_user_session_path, method: :delete %><br />
	<hr>
	<% if @user.contatti.any? %>
				
		<%= form_tag('/ricerca',
		              method: "get",
		              remote: true,
		              class: "form_ricerca") %> 
		  <%= text_field_tag 'ricerca', nil, placeholder: 'Cerca un contatto' %>
		  <%= submit_tag("Cerca contatto") %>


		<h4 id="header_contatti">Questa è la lista dei tuoi contatti:<h4>
		<p>
			<ul id="trovato">
			  <%= render @user.contatti %>
			</ul>
		</p>
	<hr>
	<% else %>
		<h5>Non hai ancora nessun contatto...</h5>
	<% end %>
	<h4>Vuoi forse aggiungerne uno?</h4><br />
	<p><%= link_to "Si, aggiungi", new_contatto_path %><br>